nav(id="nav" class='navbar navbar-default')
  div(class='container')
    div(class='navbar-header')
      a(href='/')
        img(src='/images/captricity.png')
        span Bingo
nav(id="nav-bottom" class='navbar navbar-default')
  div(class='container')
    div(class='navbar-header')
      span "I got lucky twice last night. Once was BINGO."