table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

table tr:first-child {
  background-color: white;
  border: 1px solid black;
}

td {
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
  height: 144px;
  padding: 0 10px;
  text-align: center;
  width: 20%;
}

th {
  font-size: 26px;
  padding: 20px 0;
  text-align: center;
}

#print {
  margin: -20px 0 30px 0;
}

@media print {
  button,
  nav {
    display: none !important;
  }
  table {
    page-break-after: always;
  }
}